body{
    background-color: rgb(26, 26, 26);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
p {
    color: rgb(220, 220, 220);
}
h1 {
    color: rgb(220, 220, 220);
    font-size: 70px;
}
h2 {
    color: rgb(220, 220, 220);
}
h3 {
    color: rgb(176, 176, 176);
}
a {
    color: rgb(220, 220, 220);
    font-weight: bold;
    font-size: 25px;

}

#links li {
    color: white;
    transition: 0.2s ease;
}

#links li:hover {
    transform: scale(1.02);
}


